body{
/*font-family:'メイリオ','Hiragino Kaku Gothic Pro',sans-serif;*/
font-family:serif,cursive;
background-color: #000000;
margin:0 auto;
width:1200px
}

h1{
font-size:1.5rem;
font-family:serif,cursive;
width:100%;
text-align:center;
margin:0px;
color:#ffffff;
}

h2{
font-size:20px;
font-family:'Chango',cursive;
margin-left:auto;
margin-right:auto;
}

p{
line-height:1.5
}



/*ナヴィゲーション*/
div#navwrap{
padding-top:20px;
padding-bottom:20px;
}

nav ul {
list-style-type:none;
}

nav li{
display:inline;
font-size:12px;
border-right: solid 1px #ffffff;
padding-left: 10px;
padding-right: 10px
}

nav li:first-child{
border-left:solid 1px #ffffff;
}

nav{
width: 100%;
text-align:center;

}

nav a{
color:#ffffff;
text-decoration: none
}

/*ヘッダー下写真*/
div#topcontent{
background-size: cover;
text-align:center;
padding-bottom:10px;
wide:910px;
}


/*左側コンテンツ*/

.rogo p{
text-align:center;
color:#ffffff;
font-size:1.0rem;
margin:0px;
}

div#left{
width:250px;
background-color:#000000;
float:left;
margin:10px;
}

div#iconwap{
text-align:center;
}

.icon{
display:inline-block;
margin:12px;
}

.icon a{
color:#ffffff;
}

div#line{
margin-bottom:10px
}

div#allmenu{
margin-bottom:10px
}

div#acecs{
margin-bottom:10px
}

div#acecs p{
color:#ffffff;
padding-left:10px;
}

/*右側コンテンツ*/

div#right{
width:910px;
float:right;
margin:10px;
}

div#news{
background-color:#000000;
color:#ffffff;
margin-bottom:10px;
border:solid 1px #aaaaaa;
border-radius:20px;
}

div#news li{
list-style-type:none;
text-align:left;
}


div#mainwap{
background-color:#000000;
color:#ffffff;
border:solid 1px #aaaaaa;
border-radius:20px;
padding:10px
}

.main{
height:300px;
}

.main img{
padding:20px;
float:right;
}

.main p{
padding:20px;
color:#ffffff;
}

/*リンクページ*/
section{
margin-bottom:10px;
padding-bottom:10px;
width:1200px;
background-color:#ffffff;
}

section h1{
background-color:#aaaaaa;
width:1200px;
}

/*お知らせページ*/
time{
font-weight:bold
}

/*メニュー*/

div#menuwap{
background-color:#000000;
color:#ffffff;
border:solid 1px #aaaaaa;
border-radius:20px;
padding:10px
}

.menucategory{
  display: flex;
  align-items: center; 
  justify-content: center;
}


/*店舗情報*/

.storeimg{
float:left;
margin-right:20px;
margin-left:20px
}

.groupwap{
  display: flex;
  align-items: center;
  justify-content: center;
}
.groupwap:before, .groupwap:after {
  border-top: 1px solid;
  content: "";
  width: 25em;
}
.groupwap:before {
  margin-right: 1em;
}
.groupwap:after {
  margin-left: 1em;
}

.companywap{
  clear:left;
  display: flex;
  align-items: center;
  justify-content: center;
}
.companywap:before, .companywap:after {
  border-top: 1px solid;
  content: "";
  width: 25em; 
}
.companywap:before {
  margin-right: 1em;
}
.companywap:after {
  margin-left: 1em;
}

/*リクルート*/
.recruitwap{
background-color:#ffffff;
}

.recruit{
margin-bottom:0;
background-size: cover;
}

.recruit img{
width: 100%;
}

div#arbeit{
margin-top:10px;
border-top:solid 1px #aaaaaa;
}

/*会社概要*/
section table{
margin-top:50px;
background-color:#ffffff;
border:solid 1px #aaaaaa;
margin-left:auto;margin-right:auto;
}
section table th{
background-color:#ffffff;
border:solid 1px #aaaaaa;
}

section table td{
background-color:#ffffff;
border:solid 1px #aaaaaa;
}

section table ul{
background-color:#ffffff;
list-style-type:decimal;
}


/*フッター*/
footer{

width:1180px;
text-align:left;
padding:20px;
clear:both;
margin-top:15px;
background-color:#000000;
color:#ffffff;
border-top:solid 1px #aaaaaa;
}

footer img{
float:left;
margin-right:15px;
}